<div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-6 col-xl-3 my-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Carlos Muniesa</h4>

            <ul>
              <li>
                <i class="fa fa-user"></i>
                <div class="progressor">
                  <app-progress-bar
                    [progress]="70"
                    [color]="'blue'"
                    [percentageSize]="'16px'"
                  ></app-progress-bar>
                </div>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                639 053 648
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                muniesa.carlos@gmail.com
              </li>
              <li>
                <i class="fa fa-map-marker"></i>
                Barcelona
              </li>
            </ul>

            <div class="card-brands">
              <img src="../../assets/img/audi.PNG" alt="audi">
              <img src="../../assets/img/vw.PNG" alt="vw">
            </div>

            <div class="card-actions">
              <span><i class="fa fa-retweet"></i> Hace 38 días</span>
              <button href="#!" class="btn btn-danger">Profile</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>






<!-- <div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6 col-xl-3 my-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Carlos Muniesa</h4>

          <ul>
            <li>
              <i class="fa fa-user"></i>
              <div class="progress">
                <div class="progress-bar bg-danger card-progress" role="progressbar" style="width: 75%; height: 2px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                  <span class="text-danger">75%</span>
                </div>
              </div>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              639 053 648
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              muniesa.carlos@gmail.com
            </li>
            <li>
              <i class="fa fa-map-marker"></i>
              Barcelona
            </li>
          </ul>

          <div class="card-brands">
            <img src="../../assets/img/audi.PNG" alt="audi">
            <img src="../../assets/img/vw.PNG" alt="vw">
          </div>

          <div class="card-actions">
            <span><i class="fa fa-retweet"></i> Hace 38 días</span>
            <button href="#!" class="btn btn-danger">Profile</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div> -->
